:root {
  --color-bg: #f4f5ef;
  --color-text: #171615;
  --color-yellow: #ffe090;
  --color-red: #fcaaaa;
  --color-black: #000;

  --btn-radius: 4px;
  --shape-radius: 30px;

  --container-max: 1440px;

  --font-base: Arial, sans-serif;
  --font-heading: "Rethink", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

body {
  font-family: var(--font-base);
  color: var(--color-text);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

ul,
ol,
menu {
  list-style: none;
}
